@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-sans: 'neue-haas-grotesk-display';
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

html {
  font-size: 15px;
  line-height: 1;
  scroll-behavior: smooth;
  background-color: rgb(var(--background));
}

::selection {
  background-color: rgba(var(--foreground), 0.5);
  color: rgb(var(--background));
}

body {
  overflow-x: hidden;
}

* {
  letter-spacing: 0.02em;
}

.live {
  display: flex;
  justify-content: center;
  align-items: center;

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: rgba(var(--foreground), 1);
  }

  .radius {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: rgba(var(--foreground), 0.25);
    animation: ping 1.5s ease-out infinite;
    transform-origin: center center;
  }

  @keyframes ping {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.slider {
  appearance: none;
  background: none;
  cursor: pointer;
  writing-mode: vertical-lr;
  direction: rtl;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 1.75rem;
    height: 1.75rem;
    background: rgba(var(--foreground), 0.35);
    border-radius: 100%;
  }

  &::-moz-range-thumb {
    appearance: none;
    border: none;
    width: 1.75rem;
    height: 1.75rem;
    background: rgba(var(--foreground), 0.35);
    border-radius: 100%;
  }
}

.color-slider {
  transition: height 0.3s;
  height: 2.25rem;
  box-sizing: content-box;

  .slider {
    outline: none;
    transition:
      height 0.3s,
      opacity 0.3s;
    height: 2.25rem;
    opacity: 0;
  }

  .dot {
    transition: opacity 0.3s;
    opacity: 0;
  }

  &:hover {
    height: 24rem;

    .slider {
      height: 24rem;
      opacity: 1;
    }

    .dot {
      opacity: 1;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.backdrop-blur {
  backdrop-filter: blur(0.75rem);
}

.scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  opacity: 0.5;
  transition-duration: 0.3s;

  &:hover {
    opacity: 1;
  }

  svg {
    font-size: 1.3rem;
  }
}

.gradient-left,
.gradient-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  pointer-events: none;
  z-index: 10;
  transition-duration: 0.3s;
}

.gradient-left {
  left: 0;
  background: linear-gradient(to right, rgb(var(--background)), transparent);
}

.gradient-right {
  right: 0;
  background: linear-gradient(to left, rgb(var(--background)), transparent);
}

.slideshow-image {
  max-height: calc(100% - 140px);
  max-width: calc(100% - 2.5rem);
}

button:disabled {
  opacity: 0.25;
}

.spinner {
  width: 1.25rem;
  height: 1.25rem;
  border-width: 2px;
  border-top-color: rgb(var(--foreground));
  border-radius: 100%;
  animation: spin 1s linear infinite;

  &.lg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.pulse {
  animation: pulse 2s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
